{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div class="author-info">
	<br><br>
	<div class="author-image">
	  <img src="{{ site.url }}{{ page.author.avatar }}" alt="{{ page.author.name }}">
	</div><!-- /.author-image -->
	<div class="author-content">
	  <h3 class="author-name">
		{{ site.data.messages.locales[site.locale].written_by }}
		{% if page.author.web %}
		  <a href="{{ page.author.web }}" itemprop="author">{{ page.author.name }}</a>
		{% else %}
		  <span itemprop="author">{{ page.author.name }}</span>
		{% endif %}
	  </h3>
	  <p class="author-bio">{{ page.author.bio }}</p>
	  <p class="other_social">{{ page.author.social }}</p>
	</div><!-- /.author-content -->
  </div>
  