---
layout: first_default
---

<style>
	.tester_wrap {
	  padding-top: 50px;
	  display: flex;
	  flex-direction: row;
	  width: 100%; /* 전체 너비를 사용하도록 설정 */
	  justify-content: flex-start;
	  height: 100%; /* 부모 요소의 높이를 전부 사용하도록 설정 */
	}
	
	.left-area {
	  flex: 0 0 400px;
	  margin-right: 20px;
	  padding: 10px;
	  border-right: 2px solid #ccc;
	}
	
	.left-area img {
	  width: 70%;
	  border-radius: 50%;
	  display: block;
	  margin: 0 auto 10px;
	}
	
	.left-area h3, .left-area p {
	  text-align: center;
	  margin: 5px 0;
	}
	
	.content-area {
	  flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
	  padding: 10px;
	}
	
	.container.content {
	  flex: 1; /* 부모 요소의 `.wrap`에 의해 정의된 높이를 전부 사용하도록 설정 */
	  display: block;
	  padding-top: 6.5rem;
	  height: 100%; /* 부모 요소의 높이를 전부 사용하도록 설정 */
	}
	</style>

<div id="main" role="main">         
    <div class="tester_wrap">
      <!-- 왼쪽 구역 시작 -->
      <div class="left-area">
        <img src="{{ site.url }}/images/{{ page.image.profile }}" alt="Profile Image">
        <h3>두지수 (2mole)</h3>
        <p>안녕하세요 정보보안과 개발을 희망하는 대학생입니다.</br> 질문 혹은 잘못된 부분이 있다면 언제든 연락 주세요!</p>
      </div>  
      <!-- 왼쪽 구역 끝 -->
      <!-- 나머지 콘텐츠 영역 시작 -->
      <div class="content-area">
        <div class="page-title">
          <h1>{{ page.title }}</h1>
          {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
        </div>
        <div class="archive-wrap">
          <div class="page-content">
            {{ content }}
          </div><!-- /.page-content -->
        </div><!-- /.archive-wrap -->
      </div>
      <!-- 나머지 콘텐츠 영역 끝 -->
    </div><!-- /.wrap -->
</div><!-- /#main -->
