---
layout: default
---

<div class="post">
    {% if page.image.feature %}
	<div class="page-image">
		<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
		{% if page.image.credit %}{% include image-credit.html %}{% endif %}
	</div><!-- /.page-image -->
	{% endif %}
			{% include breadcrumbs.html %}
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {% if page.tags %} | 
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    {% endif %}
    <div id="content" class="page-content" itemprop="articleBody">
        {{ content }}
        <hr />
        <footer class="page-footer">
            {% if page.categories %}{% include page-author.html %}{% endif %}
            {% if page.share != false %}{% include share-this.html %}{% endif %}
            {% include page-meta.html %}
        </footer><!-- /.footer -->
        <aside>
            {% if page.comments == true %}{% include comments.html %}{% endif %}
        </aside>
    </div><!-- /.content -->
    <article class="post-article">
        <div class="toc">
          <a href="#">&lt;맨 위로&gt;</a>
          {% include toc.html html=content %}
        </div>
        {{ content }}
      </article>
    
  </div>